#  Local .terraform directories
.terraform

**/secrets/**
!**/secrets/*.md
!**/secrets/*sample*
!**/secrets/*template*

**/.secrets/**
!**/.secrets/*.md
!**/.secrets/*sample*
!**/.secrets/*template*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
