# Config file (comment this line to modify the template):
samples/infra-config.yml
build
!build/README.md

# Jekyll Site (Github Pages)

_site
.sass-cache
.jekyll-metadata
.jekyll-cache

#  Local .terraform directories
plan.out
plan.out.json
.output
.terraform

**/secrets/**
!**/secrets/*.md
!**/secrets/*sample*
!**/secrets/*template*

**/.secrets/**
!**/.secrets/*.md
!**/.secrets/*sample*
!**/.secrets/*template*

# .tfstate files
*.tfstate
*.tfstate.*

# tfplan
tfplan

# .tfvars files
*.tfvars

# .vs files 
**/.vs/**

# Other (Python)
__pycache__
.mypy_cache
**.pyc
.gitignore
