# Config file (comment this line to modify the template):
samples/infra-config.yml
build
!build/README.md

#  Local .terraform directories
.terraform

**/secrets/**
!**/secrets/*.md
!**/secrets/*sample*
!**/secrets/*template*

**/.secrets/**
!**/.secrets/*.md
!**/.secrets/*sample*
!**/.secrets/*template*

# .tfstate files
*.tfstate
*.tfstate.*
tfplan

# .tfvars files
*.tfvars
