# A sample secrets file
# TODO: Copy the below to: `./secrets/aws-secrets-manage-secrets.yml`, which is hidden to
#       avoid committing credentials to git. Any secrets to be uploaded can be stored here.

username: "***"
password: "***"
